:root {
  --mainColor: #152028;
  --secondaryColor: #192734;

  --borderColor: #164d56;
  --themeDotBorder: #fff;

  --mainText: #fff;
  --secondaryText: #eeeeee;

  --spanColor: #fcb97d;
  --anchorTagColor: #17a2b8;

  --previewBg: rgb(25, 39, 52, 0.8);

  --previewShadow: #111921;

  --buttonColor: #17a2b8;
}
